@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

:root {
    --primary-color: #f2c946;
    --primary-width: 600px;
}

body {
    font-family: 'Kalam', cursive;
     */margiauto0px;
}

button {
    background-color: var(--primary-color);
    display: block;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    appearance: auto;
}

textarea {
    display: block;
    max-width: var(--primary-width);
    border: black solid 2px;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    appearance: auto;
    width: 100%;
    min-height: 15vh;
    text-align: left;
}

#txtOutput {
    display: block;
    max-width: var(--primary-width);
    border: black solid 1px;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    appearance: auto;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    text-align: left;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 50%;
    margin: auto;
}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}


.link-primary {
    background-color: var(--primary-color);
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    /* background-color: white; */
    border: 1px solid var(--primary-color);
    /* border-color: var(--primary-color);
    border: 1px solid; */
}

/** lists **/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link{
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding: 1rem;
    color: var(--dark-gray);
    text-align: center;
    /* font-size: ; */
}

/** section **/
.section {
    padding: 2rem;
}
.section h1{
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    padding: 2rem 1rem;
    text-align: center;
    color: black;
    margin-block-start: 1em;
}

.social-link {
    padding-inline-start: 0px;
}
